@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }
@model UsersViewModel

<div class="text-center">
    <h1 class="display-4">User Manager</h1>
</div>

<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Add User</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" asp-controller="UserManager" asp-action="Create" asp-route-email="email" asp-route-password="password">
        <div class="card-body">

            <div class="form-group">
                <label>Email address</label>
                <input name="email" type="email" class="form-control" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" placeholder="Password"
                       title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


<div>
    @foreach (var item in Model.UserEmails)
    {
        <div class="card">
            <div class="card-body">
                <b>@item</b>
                <form asp-controller="UserManager" asp-action="Delete" asp-route-email="email">
                    <button value="@item" name="email" style="width:100px; float:right" type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form asp-controller="UserManager" asp-action="Edit" asp-route-email="email">
                    <button value="@item" name="email" style="width:100px; float:right" type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>

    }
</div>