@{ Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewBag.Title = "Fetchers"; }
@model FetchersViewModel
<h1>Search City and Get Weather Forecast</h1>

<form method="post" asp-controller="Fetchers" asp-action="Forecast" asp-route-city="City" asp-route-provider="Provider">
    <div>
        <strong>City Name     :</strong>
        <select class="form-control" name="City">
            @foreach(var item in Model.Cities)
            {
                <option value="@item">@item</option>
            }
        </select>

        <strong>Provider Name :</strong>

        <select class="form-control" name="Provider">
            @foreach (var item in Model.Providers)
            {
                <option value="@item">@item</option>
            }
        </select>
        <br />
        <button class="btn btn-block btn-primary" type="submit"><strong />Get Current Temperature</button>
    </div>
</form>